.all-products {
    background-color: #ffffffb4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 66.66vw; /* Adjust the width as needed */
  }
  
  .all-products h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .all-products table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .all-products table th,
  .all-products table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .all-products table th {
    background-color: #f9fafc;
  }
  
  .all-products table td img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  
  .all-products .progress-bar {
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    width: 100%;
  }
  
  .all-products .progress {
    background-color: #3498db;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 20px; /* Align text vertically */
    border-radius: 8px;
  }
  
  .all-products .in-stock {
    color: #2ecc71;
  }
  
  .all-products .out-of-stock {
    color: #e74c3c;
  }
  
  .all-products .action-icon {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f9fafc;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #3498db;
    color: #fff;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ecf0f1;
  }
  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-content h4 {
    margin-top: 0;
  }
  
  .modal-content input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-content button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:first-of-type {
    background-color: #3498db;
    color: #fff;
  }
  
  .modal-content button:last-of-type {
    background-color: #e74c3c;
    color: #fff;
  }
  