.analytics {
    background-color: #ffffffb4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 66.66vw; /* Adjust the width as needed */
  }
  
  .analytics h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .analytics-graph {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    margin-top: 20px;
  }
  