.App {
  display: flex;
}
.static-h1 {
  color: #2c3e50;
  position: fixed;
  width: 66.66vw;
  top: -10px;
  background-color: white;
}
.main-content {
  margin-top: 50px;
  flex-grow: 1;
  padding: 20px;
  margin-left: 80px;
}
