.recent-activity {
    background-color: #ffffffb4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 66.66vw; /* Adjust the width as needed */
  }
  
  .recent-activity h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .recent-activity table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .recent-activity table th,
  .recent-activity table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .recent-activity table th {
    background-color: #f9fafc;
  }
  
  .recent-activity .status.approved {
    color: #2ecc71;
  }
  
  .recent-activity .status.rejected {
    color: #e74c3c;
  }
  