.tracking {
    background-color: #ffffffb4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1);
    width: 19vw; /* Adjust the width as needed */
    position: fixed;
     /* Adjust to position under the header */
    right: 2px;
    overflow-y: auto; /* Enable scrolling if content overflows */
    /* Adjust height to fit within the viewport */
  }
  
  .tracking h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .tracking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delivery-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .circle-content {
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .tracking-details,
  .customer-info,
  .pickup-info {
    text-align: left;
    margin-top: 10px;
    width: 100%;
  }
  
  .customer-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tracking-graph {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    margin-top: 20px;
  }
  